<template>
  <v-card flat dense>
    <v-card-text class="pt-0 pb-0">
      <v-container>
        <v-row>
            <v-col cols="3" class="pa-0 ma-0">
            <v-btn-toggle
              v-model="scopeType"
              tile
              dense
              color="primary"
            >
              <v-btn value="branches">Branch</v-btn>
              <v-btn value="tags">Tag</v-btn>
            </v-btn-toggle>
          </v-col>
          <v-col cols="9" class="pa-0 ml-0">
            <v-autocomplete
                dense
                outlined
                clearable
                hide-no-data
                v-model="model"
                :items="items"
                :loading="isLoading"
                :search-input.sync="search"
                color="black"
                item-text="name"
                item-value="name"
                :label="scopeType == 'branches' ? 'Select branch' : 'Select tag'"
                return-object
                :filter="filter"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { State, Action } from 'vuex-class'
import * as GitLabHelper from '../gitlab'
import log from 'loglevel'

@Component
export default class ScopeSelector extends Vue {
    descriptionLimit = 60
    count = 0
    tags:Record<string, any>[] = []
    branches:Record<string, any>[] = []
    scopeType = 'branches'
    isLoading = false
    model:any = null
    search = ''
    meteredSearch = ''
    timeout: any
    currentSearchTime = Date.now()

    @State scope!:Record<string, string>
    @State token!: string
    @State project!: Record<string, string>
    @Action setScope: any
    @Action setScopeType: any

    activated (): void {
      if (this.scope) {
        this.model = this.scope
      } else {
        this.reset()
      }
    }

    @Watch('scope')
    updateScope (): void {
      if (this.scope && this.scope?.name !== this.model?.name) {
        this.model = this.scope
      }
    }

    @Watch('search')
    meteredUpdateSearch (): void {
      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        this.meteredSearch = this.search
      }, 500)
    }

    filter (item: Record<string, any>, queryText: string, itemText: string): boolean {
      if (item.header || item.divider) {
        return true
      }
      let text = queryText
      if (text.startsWith('^')) {
        text = text.slice(1)
      }
      if (text.endsWith('$')) {
        text = text.slice(0, text.length - 2)
      }
      return itemText.toLocaleLowerCase().indexOf(text.toLocaleLowerCase()) > -1
    }

    @Watch('scopeType')
    clearSelction (): void {
      this.model = null
    }

    @Watch('project')
    reset (): void {
      this.tags = []
      this.branches = []
      this.loadBranches()
      this.loadTags()
    }

    get items (): any[] {
      const tagHeader = [
        { header: 'Tags' },
        { divider: true }
      ]

      const branchHeader = [
        { header: 'Branches' },
        { divider: true }
      ]

      let items:any[] = []

      if (this.branches.length > 0) {
        items = [...items, ...branchHeader, ...this.branches]
      }
      if (this.tags.length > 0) {
        items = [...items, ...tagHeader, ...this.tags]
      }

      return items
    }

    @Watch('model')
    selectScope (): void {
      this.setScope({ scope: this.model, scopeType: this.scopeType })
    }

    @Watch('meteredSearch')
    loadBranches (): void {
      if ((this.branches?.length > 0 && this.branches?.length < 3) || this.isLoading || this.model?.name === this.search || !this.project?.id) return

      this.isLoading = true

      // Used to prevent race conditions where an outdated query overwrites results from the latest query
      const startTime = Date.now()
      this.currentSearchTime = startTime

      GitLabHelper.getAPI().Branches.all(this.project.id, { search: this.search, maxPages: 2 }).then((branches) => {
        log.debug(branches)
        if (startTime === this.currentSearchTime) {
          if (Array.isArray(branches)) {
            this.branches = branches
          } else {
            this.branches = [branches]
          }
        }
      }).finally(() => {
        this.isLoading = false
      })
    }

    @Watch('meteredSearch')
    loadTags (): void {
      if (this.tags.length > 0 || !this.project?.id) return
      this.isLoading = true

      GitLabHelper.getAPI().Tags.all(this.project.id, { maxPages: 5 }).then((tags) => {
        if (Array.isArray(tags)) {
          this.tags = tags
        } else {
          this.tags = [tags]
        }
      }).finally(() => {
        this.isLoading = false
      })
    }
}

</script>
