<template>
  <v-card flat v-if="!!scope">
    <div v-if="loading" align="center">
      <Tanuki :loading="true"></Tanuki>
      Generating Form
    </div>
    <div v-else>
      <v-card-text>
        <v-form v-model="valid">
          <v-container>
            <v-row justify="center" v-if="!!presetItems">
              <v-col cols="6">
                <v-select
                :items="Object.keys(presetItems)"
                label="Select a variable template"
                outlined
                clearable
                dense
                v-model="preset"
                hide-details="auto"
                ></v-select>
              </v-col>
              <v-col cols="2">
                  <v-btn
                    depressed
                    color="primary"
                    @click="applyPreset"
                  >Apply</v-btn>
                </v-col>
            </v-row>
            <v-row v-if="!!presetItems"><v-col cols="12"><v-divider></v-divider></v-col></v-row>
            <v-row justify="center">
              <v-col cols="12">
                <v-jsf
                  v-model="vjsfModel"
                  :schema="schema"
                  :options="options"
                ></v-jsf>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
    </div>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { ResourceVariableSchema } from '@gitbeaker/core/dist/types/templates/ResourceVariables'
import { State, Action } from 'vuex-class'
import Tanuki from './Tanuki.vue'
import VJsf from '@koumoul/vjsf/lib/VJsf.js'
import '@koumoul/vjsf/lib/deps/third-party.js'
import * as GitLabHelper from '../gitlab'
// eslint-disable-next-line @typescript-eslint/ban-ts-comment
// @ts-ignore
import * as YAML from 'js-yaml'
import log from 'loglevel'

@Component({
  components: { Tanuki, VJsf }
})
export default class VariableForm extends Vue {
    valid = true

    count = 0
    projectVariables:Record<string, ResourceVariableSchema> = {}
    variableHistory:Record<string, string[]> = {}
    isLoading = false
    search = ''
    loading = false
    presetItems:any = null
    preset:any = null
    options = { fieldColProps: { cols: 12 }, initialValidation: 'all' }
    properties:any = {}

    schema:Record<string, any> = {}
    vjsfModel:any = null
    modelVariablePaths: Record<string, string[]> = {}

    @State token!: string
    @State project!: Record<string, string>
    @State scope!: Record<string, string>
    @State scopeType!: string
    @Action setVariable!: (val: Record<string, unknown>) => void
    @Action clearVariables!: () => void
    @Action setFormValid!: (val: boolean) => void

    get variableList (): Record<string, string[]> {
      return this.variableHistory
    }

    @Watch('vjsfModel')
    modelChange (): void {
      this.clearVariables()
      if (!this.vjsfModel) return

      Object.keys(this.modelVariablePaths).forEach((key: string) => {
        const value = this.getModelVariable(this.vjsfModel, [...this.modelVariablePaths[key], key])
        log.debug('lookup ' + key)
        log.debug(value)
        if (value) {
          const variableDef:any = this.projectVariables[key] ?? this.properties[key]
          log.debug(variableDef)
          if (variableDef) {
            this.setVariable({
              key: key,
              type: variableDef.variable_type,
              value: String(value)
            })
          }
        }
      })
    }

    applyPreset (): void {
      const sectionedModel = {}

      if (this.preset) {
        const config = this.presetItems[this.preset]
        const modelUpdate:any = {}
        for (const variable in config.variables.static) {
          modelUpdate[variable] = config.variables.static[variable]
        }

        for (const variable in config.variables.editable) {
          modelUpdate[variable] = config.variables.editable[variable]
        }

        Object.keys(modelUpdate).forEach((key: string) => {
          this.setModelVariable(sectionedModel, modelUpdate[key], [...this.modelVariablePaths[key], key])
        })
      } else {
        // Clear template values
        Object.keys(this.modelVariablePaths).forEach((key: string) => {
          this.setModelVariable(sectionedModel, {}, this.modelVariablePaths[key])
        })
      }
      this.vjsfModel = Object.assign({}, this.vjsfModel, sectionedModel)
    }

    @Watch('schema')
    initModel (): void {
      // Populate model with default values if any. Arrays and booleans are initialized
      // as [] and false if there is no default value present
      this.vjsfModel ??= {}
      for (const [key, path] of Object.entries(this.modelVariablePaths)) {
        const property = this.properties[key]
        if (property.type === 'array') {
          const value = this.properties[key]?.default ?? []
          if (!this.getModelVariable(this.schema, path)) {
            this.setModelVariable(this.vjsfModel, value, [...path, key])
          }
        } else if (property.type === 'boolean') {
          const value = this.properties[key]?.default ?? false
          this.setModelVariable(this.vjsfModel, value, [...path, key])
        } else if (property.type === 'string') {
          const value = this.properties[key]?.default ?? null
          if (value) {
            this.setModelVariable(this.vjsfModel, value, [...path, key])
          }
        }
      }
    }

    setModelVariable (section: Record<string, unknown>, value: unknown, propPath: string[]): void {
      const [head, ...rest] = propPath
      if (!rest.length) {
        section[head] = value
      } else {
        if (!section[head]) {
          section[head] = {}
        }
        this.setModelVariable(section[head] as Record<string, unknown>, value, rest)
      }
    }

    getModelVariable (section: Record<string, unknown>, propPath: string[]): any {
      const [head, ...rest] = propPath
      try {
        if (!section) return null
        if (!rest.length) {
          return section[head]
        } else {
          return this.getModelVariable(section[head] as Record<string, unknown>, rest)
        }
      } catch (err) {
        log.error('getModelVariable')
        log.error(section)
        log.error(propPath)
        log.error(err)
      }
    }

    @Watch('valid')
    formValidityChanged (): void {
      this.setFormValid(this.valid)
    }

    @Watch('scope')
    reset (): void {
      this.projectVariables = {}
      this.loadConfig()
      if (!this.schema.properties) {
        this.loadVariables()
      }
    }

    mounted (): void {
      this.reset()
    }

    inputEvent (event: Record<string, unknown>): void {
      this.setVariable({ key: event.key, variable_type: event.variable_type, value: event.formValue })
    }

    get items (): ResourceVariableSchema[] {
      return Object.keys(this.projectVariables).map(key => {
        const entry = this.projectVariables[key]
        const name = entry.key
        return Object.assign({}, entry, { name })
      }).sort((a, b) => (a.name > b.name) ? 1 : -1)
    }

    get api (): any {
      return GitLabHelper.getAPI()
    }

    async loadConfig (): Promise<void> {
      this.loading = true
      if (!this.project?.id || !this.scope?.name) {
        return
      }

      this.schema = {}
      let configRaw
      // Look for yml or json config files, fall back on a form based on project variables
      try {
        configRaw = await this.api.RepositoryFiles.showRaw(this.project.id, '.pipeline-form.yml', this.scope.name) as unknown
        this.schema = this.yamlToSchema(configRaw as string)
      } catch (err) {
        log.error(err)
        try {
          configRaw = await this.api.RepositoryFiles.showRaw(this.project.id, '.pipeline-form.json', this.scope.name) as unknown
          this.schema = JSON.parse(configRaw as string)
        } catch (err) {
          log.error(err)
          this.schema = this.yamlToSchema(this.defaultSchema)
        }
      } finally {
        this.loading = false
      }
    }

    get defaultSchema (): string {
      const schema:any = {}
      schema.variables = {}

      for (const [key, value] of Object.entries(this.projectVariables)) {
        schema.variables[key] = {
          title: key,
          type: (value as any).variable_type === 'env_var' ? 'string' : 'file'
        }
      }

      schema.layout = Object.keys(this.projectVariables).sort()

      return YAML.dump(schema)
    }

    yamlToSchema (raw:string): Record<string, unknown> {
      const doc = YAML.load(raw)
      const schema:any = {}
      schema.type = 'object'
      schema.properties = {}

      for (const key in doc.variables) {
        const property = doc.variables[key]
        property.default ??= null
        property.variable_type = property.type === 'file' ? 'file' : 'env_var'

        // VJSF decoration for all field types
        property['x-props'] = {
          outlined: true,
          dense: true
        }

        if (property.hint) {
          property['x-props']['persistent-hint'] = true
          property['x-props'].hint = property.hint
        }

        // Special highlighting for required fields
        if (doc.required?.includes(key)) {
          property.title = property.title + '*'
          property['x-props']['background-color'] = 'blue lighten-5'
        }

        switch (property.type) {
          case 'file':
            this.decorateFile(property)
            break
          case 'string':
            this.decorateString(property)
            break
          case 'radio':
            this.decorateRadio(property)
            break
          case 'checkbox':
            this.decorateCheckbox(property)
            break
          case 'switch':
            this.decorateSwitch(property)
            break
          default:
            this.decorateString(property)
        }

        this.properties[key] = property
      }

      if (doc.layout) {
        const sectionBasedProperties: Record<string, any> = {}
        for (const key in doc.layout) {
          const entry = doc.layout[key]
          if (typeof entry === 'string') {
            sectionBasedProperties[entry] = this.properties[entry]
            this.modelVariablePaths[entry] = []
            if ((doc.required as string[])?.includes(entry)) {
              schema.required = [...schema.required ?? [], entry]
            }
          } else {
            Object.keys(entry).forEach((title) => {
              sectionBasedProperties[title] = this.loadSectionContent(doc, title, entry[title], [])
            })
          }
        }
        schema.properties = sectionBasedProperties
      } else {
        schema.properties = this.properties
        schema.required = doc.required ??= []
      }
      this.presetItems = doc.templates
      return schema
    }

    decorateString (property: Record<string, any>): void {
      property['x-props'].prependIcon = 'mdi-variable'
      property['x-props'].clearable = true
    }

    decorateFile (property: Record<string, any>): void {
      property.type = 'string'
      property['x-props'].prependIcon = 'mdi-file'
      property['x-props'].clearable = false // File vars should be displayed as text areas
      property['x-display'] = 'textarea' // YAML brings in type as 'file' for UX reasons, but must be changed to string for VJSF
    }

    decorateRadio (property: Record<string, any>): void {
      property.type = 'string'
      property['x-display'] = 'radio'
    }

    decorateCheckbox (property: Record<string, any>): void {
      property.type = 'array'
      property['x-display'] = 'checkbox'
    }

    decorateSwitch (property: Record<string, any>): void {
      property.type = 'boolean'
      property['x-display'] = 'switch'
    }

    loadSectionContent (doc: Record<string, unknown>, title: string, section: Record<string, unknown>, currentPath: string[] = []): Record<string, any> {
      const properties: Record<string, any> = {}
      let required: string[] = []
      currentPath = currentPath.length === 0 ? [title] : currentPath

      Object.keys(section).forEach((entry) => {
        const item = section[entry]
        if (typeof item === 'string') {
          properties[item] = this.properties[item]
          this.modelVariablePaths[item] = currentPath
          if ((doc.required as string[])?.includes(item)) {
            required = [...required, item]
          }
        } else {
          var sections = item as Record<string, any>
          Object.keys(sections).forEach((section) => {
            properties[section] = this.loadSectionContent(doc, section, sections[section], [...currentPath, section])
          })
        }
      })

      return {
        type: 'object',
        title: title,
        properties: properties,
        required: required
      }
    }

    async loadVariables (): Promise<void> {
      this.projectVariables = {}
      if (!this.project.id) {
        return
      }
      this.isLoading = true

      const result = await this.api.ProjectVariables.all(this.project.id)
      result.forEach((variable: ResourceVariableSchema) => {
        this.projectVariables[variable.key] = variable
      })
      this.isLoading = false
    }
}

</script>
